{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://amplify.amazonaws.com/"
        },
        {
            "url": "http://amplify.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": " Amplify is a fully managed continuous deployment and hosting service for modern web apps. ",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS Amplify",
        "version": "2017-07-25",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/amplify-2017-07-25.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "amplify"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/amplify/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/apps": {
            "get": {
                "description": " Lists existing Amplify Apps. ",
                "operationId": "ListApps",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Result structure for an Amplify App list request. ",
                                    "properties": {
                                        "apps": {
                                            "description": " List of Amplify Apps. ",
                                            "items": {
                                                "description": " Amplify App represents different branches of a repository for building, deploying, and hosting. ",
                                                "properties": {
                                                    "appArn": {
                                                        "description": " ARN for the Amplify App. ",
                                                        "maxLength": 1000,
                                                        "type": "string"
                                                    },
                                                    "appId": {
                                                        "description": " Unique Id for the Amplify App. ",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "basicAuthCredentials": {
                                                        "description": " Basic Authorization credentials for branches for the Amplify App. ",
                                                        "maxLength": 2000,
                                                        "type": "string"
                                                    },
                                                    "buildSpec": {
                                                        "description": " BuildSpec content for Amplify App. ",
                                                        "maxLength": 25000,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "createTime": {
                                                        "description": " Create date / time for the Amplify App. ",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "customRules": {
                                                        "description": " Custom redirect / rewrite rules for the Amplify App. ",
                                                        "items": {
                                                            "description": " Custom rewrite / redirect rule. ",
                                                            "properties": {
                                                                "condition": {
                                                                    "description": " The condition for a URL rewrite or redirect rule, e.g. country code. ",
                                                                    "maxLength": 2048,
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                },
                                                                "source": {
                                                                    "description": " The source pattern for a URL rewrite or redirect rule. ",
                                                                    "maxLength": 2048,
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                },
                                                                "status": {
                                                                    "description": " The status code for a URL rewrite or redirect rule. ",
                                                                    "maxLength": 3,
                                                                    "minLength": 3,
                                                                    "type": "string"
                                                                },
                                                                "target": {
                                                                    "description": " The target pattern for a URL rewrite or redirect rule. ",
                                                                    "maxLength": 2048,
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "source",
                                                                "target"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "defaultDomain": {
                                                        "description": " Default domain for the Amplify App. ",
                                                        "maxLength": 1000,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "description": " Description for the Amplify App. ",
                                                        "maxLength": 1000,
                                                        "type": "string"
                                                    },
                                                    "enableBasicAuth": {
                                                        "description": " Enables Basic Authorization for branches for the Amplify App. ",
                                                        "type": "boolean"
                                                    },
                                                    "enableBranchAutoBuild": {
                                                        "description": " Enables auto-building of branches for the Amplify App. ",
                                                        "type": "boolean"
                                                    },
                                                    "environmentVariables": {
                                                        "description": " Environment Variables for the Amplify App. ",
                                                        "items": {
                                                            "properties": {
                                                                "key": {
                                                                    "maxLength": 255,
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "maxLength": 1000,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "iamServiceRoleArn": {
                                                        "description": " IAM service role ARN for the Amplify App. ",
                                                        "maxLength": 1000,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": " Name for the Amplify App. ",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "platform": {
                                                        "description": " Platform for the Amplify App. ",
                                                        "enum": [
                                                            "IOS",
                                                            "ANDROID",
                                                            "WEB",
                                                            "REACT_NATIVE"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "productionBranch": {
                                                        "description": " Structure with Production Branch information. ",
                                                        "properties": {
                                                            "branchName": {
                                                                "description": " Branch Name for Production Branch. ",
                                                                "maxLength": 255,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "lastDeployTime": {
                                                                "description": " Last Deploy Time of Production Branch. ",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "description": " Status of Production Branch. ",
                                                                "maxLength": 3,
                                                                "minLength": 3,
                                                                "type": "string"
                                                            },
                                                            "thumbnailUrl": {
                                                                "description": " Thumbnail Url for Production Branch. ",
                                                                "maxLength": 2000,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "repository": {
                                                        "description": " Repository for the Amplify App. ",
                                                        "maxLength": 1000,
                                                        "type": "string"
                                                    },
                                                    "tags": {
                                                        "description": " Tag for Amplify App. ",
                                                        "items": {
                                                            "properties": {
                                                                "key": {
                                                                    "maxLength": 1000,
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "maxLength": 1000,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "updateTime": {
                                                        "description": " Update date / time for the Amplify App. ",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "appId",
                                                    "appArn",
                                                    "name",
                                                    "description",
                                                    "repository",
                                                    "platform",
                                                    "createTime",
                                                    "updateTime",
                                                    "environmentVariables",
                                                    "defaultDomain",
                                                    "enableBranchAutoBuild",
                                                    "enableBasicAuth"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextToken": {
                                            "description": " Pagination token. Set to null to start listing Apps from start. If non-null pagination token is returned in a result, then pass its value in here to list more projects. ",
                                            "maxLength": 2000,
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "apps"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": " Request structure for an Amplify App list request. ",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": " Creates a new Amplify App. ",
                "operationId": "CreateApp",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "app": {
                                            "description": " Amplify App represents different branches of a repository for building, deploying, and hosting. ",
                                            "properties": {
                                                "appArn": {
                                                    "description": " ARN for the Amplify App. ",
                                                    "maxLength": 1000,
                                                    "type": "string"
                                                },
                                                "appId": {
                                                    "description": " Unique Id for the Amplify App. ",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "basicAuthCredentials": {
                                                    "description": " Basic Authorization credentials for branches for the Amplify App. ",
                                                    "maxLength": 2000,
                                                    "type": "string"
                                                },
                                                "buildSpec": {
                                                    "description": " BuildSpec content for Amplify App. ",
                                                    "maxLength": 25000,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "createTime": {
                                                    "description": " Create date / time for the Amplify App. ",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "customRules": {
                                                    "description": " Custom redirect / rewrite rules for the Amplify App. ",
                                                    "items": {
                                                        "description": " Custom rewrite / redirect rule. ",
                                                        "properties": {
                                                            "condition": {
                                                                "description": " The condition for a URL rewrite or redirect rule, e.g. country code. ",
                                                                "maxLength": 2048,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "source": {
                                                                "description": " The source pattern for a URL rewrite or redirect rule. ",
                                                                "maxLength": 2048,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "description": " The status code for a URL rewrite or redirect rule. ",
                                                                "maxLength": 3,
                                                                "minLength": 3,
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "description": " The target pattern for a URL rewrite or redirect rule. ",
                                                                "maxLength": 2048,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "source",
                                                            "target"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "defaultDomain": {
                                                    "description": " Default domain for the Amplify App. ",
                                                    "maxLength": 1000,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "description": " Description for the Amplify App. ",
                                                    "maxLength": 1000,
                                                    "type": "string"
                                                },
                                                "enableBasicAuth": {
                                                    "description": " Enables Basic Authorization for branches for the Amplify App. ",
                                                    "type": "boolean"
                                                },
                                                "enableBranchAutoBuild": {
                                                    "description": " Enables auto-building of branches for the Amplify App. ",
                                                    "type": "boolean"
                                                },
                                                "environmentVariables": {
                                                    "description": " Environment Variables for the Amplify App. ",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "maxLength": 255,
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "maxLength": 1000,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "iamServiceRoleArn": {
                                                    "description": " IAM service role ARN for the Amplify App. ",
                                                    "maxLength": 1000,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": " Name for the Amplify App. ",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "platform": {
                                                    "description": " Platform for the Amplify App. ",
                                                    "enum": [
                                                        "IOS",
                                                        "ANDROID",
                                                        "WEB",
                                                        "REACT_NATIVE"
                                                    ],
                                                    "type": "string"
                                                },
                                                "productionBranch": {
                                                    "description": " Structure with Production Branch information. ",
                                                    "properties": {
                                                        "branchName": {
                                                            "description": " Branch Name for Production Branch. ",
                                                            "maxLength": 255,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        },
                                                        "lastDeployTime": {
                                                            "description": " Last Deploy Time of Production Branch. ",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "description": " Status of Production Branch. ",
                                                            "maxLength": 3,
                                                            "minLength": 3,
                                                            "type": "string"
                                                        },
                                                        "thumbnailUrl": {
                                                            "description": " Thumbnail Url for Production Branch. ",
                                                            "maxLength": 2000,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "repository": {
                                                    "description": " Repository for the Amplify App. ",
                                                    "maxLength": 1000,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "description": " Tag for Amplify App. ",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "maxLength": 1000,
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "maxLength": 1000,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "updateTime": {
                                                    "description": " Update date / time for the Amplify App. ",
                                                    "format": "date-time",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "appId",
                                                "appArn",
                                                "name",
                                                "description",
                                                "repository",
                                                "platform",
                                                "createTime",
                                                "updateTime",
                                                "environmentVariables",
                                                "defaultDomain",
                                                "enableBranchAutoBuild",
                                                "enableBasicAuth"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "app"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "DependentServiceFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": " Request structure used to create Apps in Amplify. ",
                                "properties": {
                                    "basicAuthCredentials": {
                                        "description": " Credentials for Basic Authorization for an Amplify App. ",
                                        "maxLength": 2000,
                                        "type": "string"
                                    },
                                    "buildSpec": {
                                        "description": " BuildSpec for an Amplify App ",
                                        "maxLength": 25000,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "customRules": {
                                        "description": " Custom rewrite / redirect rules for an Amplify App. ",
                                        "items": {
                                            "description": " Custom rewrite / redirect rule. ",
                                            "properties": {
                                                "condition": {
                                                    "description": " The condition for a URL rewrite or redirect rule, e.g. country code. ",
                                                    "maxLength": 2048,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "source": {
                                                    "description": " The source pattern for a URL rewrite or redirect rule. ",
                                                    "maxLength": 2048,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": " The status code for a URL rewrite or redirect rule. ",
                                                    "maxLength": 3,
                                                    "minLength": 3,
                                                    "type": "string"
                                                },
                                                "target": {
                                                    "description": " The target pattern for a URL rewrite or redirect rule. ",
                                                    "maxLength": 2048,
                                                    "minLength": 1,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "source",
                                                "target"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "description": {
                                        "description": " Description for an Amplify App ",
                                        "maxLength": 1000,
                                        "type": "string"
                                    },
                                    "enableBasicAuth": {
                                        "description": " Enable Basic Authorization for an Amplify App, this will apply to all branches part of this App. ",
                                        "type": "boolean"
                                    },
                                    "enableBranchAutoBuild": {
                                        "description": " Enable the auto building of branches for an Amplify App. ",
                                        "type": "boolean"
                                    },
                                    "environmentVariables": {
                                        "description": " Environment variables map for an Amplify App. ",
                                        "items": {
                                            "properties": {
                                                "key": {
                                                    "maxLength": 255,
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "maxLength": 1000,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "iamServiceRoleArn": {
                                        "description": " AWS IAM service role for an Amplify App ",
                                        "maxLength": 1000,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": " Name for the Amplify App ",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "oauthToken": {
                                        "description": " OAuth token for 3rd party source control system for an Amplify App, used to create webhook and read-only deploy key. OAuth token is not stored. ",
                                        "maxLength": 100,
                                        "type": "string"
                                    },
                                    "platform": {
                                        "description": " Platform / framework for an Amplify App ",
                                        "enum": [
                                            "IOS",
                                            "ANDROID",
                                            "WEB",
                                            "REACT_NATIVE"
                                        ],
                                        "type": "string"
                                    },
                                    "repository": {
                                        "description": " Repository for an Amplify App ",
                                        "maxLength": 1000,
                                        "type": "string"
                                    },
                                    "tags": {
                                        "description": " Tag for an Amplify App ",
                                        "items": {
                                            "properties": {
                                                "key": {
                                                    "maxLength": 1000,
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "maxLength": 1000,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "name",
                                    "repository",
                                    "platform",
                                    "oauthToken"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/apps/{appId}": {
            "delete": {
                "description": " Delete an existing Amplify App by appId. ",
                "operationId": "DeleteApp",
                "parameters": [
                    {
                        "in": "path",
                        "name": "appId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Result structure for an Amplify App delete request. ",
                                    "properties": {
                                        "app": {
                                            "description": " Amplify App represents different branches of a repository for building, deploying, and hosting. ",
                                            "properties": {
                                                "appArn": {
                                                    "description": " ARN for the Amplify App. ",
                                                    "maxLength": 1000,
                                                    "type": "string"
                                                },
                                                "appId": {
                                                    "description": " Unique Id for the Amplify App. ",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "basicAuthCredentials": {
                                                    "description": " Basic Authorization credentials for branches for the Amplify App. ",
                                                    "maxLength": 2000,
                                                    "type": "string"
                                                },
                                                "buildSpec": {
                                                    "description": " BuildSpec content for Amplify App. ",
                                                    "maxLength": 25000,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "createTime": {
                                                    "description": " Create date / time for the Amplify App. ",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "customRules": {
                                                    "description": " Custom redirect / rewrite rules for the Amplify App. ",
                                                    "items": {
                                                        "description": " Custom rewrite / redirect rule. ",
                                                        "properties": {
                                                            "condition": {
                                                                "description": " The condition for a URL rewrite or redirect rule, e.g. country code. ",
                                                                "maxLength": 2048,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "source": {
                                                                "description": " The source pattern for a URL rewrite or redirect rule. ",
                                                                "maxLength": 2048,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "description": " The status code for a URL rewrite or redirect rule. ",
                                                                "maxLength": 3,
                                                                "minLength": 3,
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "description": " The target pattern for a URL rewrite or redirect rule. ",
                                                                "maxLength": 2048,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "source",
                                                            "target"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "defaultDomain": {
                                                    "description": " Default domain for the Amplify App. ",
                                                    "maxLength": 1000,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "description": " Description for the Amplify App. ",
                                                    "maxLength": 1000,
                                                    "type": "string"
                                                },
                                                "enableBasicAuth": {
                                                    "description": " Enables Basic Authorization for branches for the Amplify App. ",
                                                    "type": "boolean"
                                                },
                                                "enableBranchAutoBuild": {
                                                    "description": " Enables auto-building of branches for the Amplify App. ",
                                                    "type": "boolean"
                                                },
                                                "environmentVariables": {
                                                    "description": " Environment Variables for the Amplify App. ",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "maxLength": 255,
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "maxLength": 1000,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "iamServiceRoleArn": {
                                                    "description": " IAM service role ARN for the Amplify App. ",
                                                    "maxLength": 1000,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": " Name for the Amplify App. ",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "platform": {
                                                    "description": " Platform for the Amplify App. ",
                                                    "enum": [
                                                        "IOS",
                                                        "ANDROID",
                                                        "WEB",
                                                        "REACT_NATIVE"
                                                    ],
                                                    "type": "string"
                                                },
                                                "productionBranch": {
                                                    "description": " Structure with Production Branch information. ",
                                                    "properties": {
                                                        "branchName": {
                                                            "description": " Branch Name for Production Branch. ",
                                                            "maxLength": 255,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        },
                                                        "lastDeployTime": {
                                                            "description": " Last Deploy Time of Production Branch. ",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "description": " Status of Production Branch. ",
                                                            "maxLength": 3,
                                                            "minLength": 3,
                                                            "type": "string"
                                                        },
                                                        "thumbnailUrl": {
                                                            "description": " Thumbnail Url for Production Branch. ",
                                                            "maxLength": 2000,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "repository": {
                                                    "description": " Repository for the Amplify App. ",
                                                    "maxLength": 1000,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "description": " Tag for Amplify App. ",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "maxLength": 1000,
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "maxLength": 1000,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "updateTime": {
                                                    "description": " Update date / time for the Amplify App. ",
                                                    "format": "date-time",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "appId",
                                                "appArn",
                                                "name",
                                                "description",
                                                "repository",
                                                "platform",
                                                "createTime",
                                                "updateTime",
                                                "environmentVariables",
                                                "defaultDomain",
                                                "enableBranchAutoBuild",
                                                "enableBasicAuth"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "app"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "DependentServiceFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": " Request structure for an Amplify App delete request. ",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "get": {
                "description": " Retrieves an existing Amplify App by appId. ",
                "operationId": "GetApp",
                "parameters": [
                    {
                        "in": "path",
                        "name": "appId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "app": {
                                            "description": " Amplify App represents different branches of a repository for building, deploying, and hosting. ",
                                            "properties": {
                                                "appArn": {
                                                    "description": " ARN for the Amplify App. ",
                                                    "maxLength": 1000,
                                                    "type": "string"
                                                },
                                                "appId": {
                                                    "description": " Unique Id for the Amplify App. ",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "basicAuthCredentials": {
                                                    "description": " Basic Authorization credentials for branches for the Amplify App. ",
                                                    "maxLength": 2000,
                                                    "type": "string"
                                                },
                                                "buildSpec": {
                                                    "description": " BuildSpec content for Amplify App. ",
                                                    "maxLength": 25000,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "createTime": {
                                                    "description": " Create date / time for the Amplify App. ",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "customRules": {
                                                    "description": " Custom redirect / rewrite rules for the Amplify App. ",
                                                    "items": {
                                                        "description": " Custom rewrite / redirect rule. ",
                                                        "properties": {
                                                            "condition": {
                                                                "description": " The condition for a URL rewrite or redirect rule, e.g. country code. ",
                                                                "maxLength": 2048,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "source": {
                                                                "description": " The source pattern for a URL rewrite or redirect rule. ",
                                                                "maxLength": 2048,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "description": " The status code for a URL rewrite or redirect rule. ",
                                                                "maxLength": 3,
                                                                "minLength": 3,
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "description": " The target pattern for a URL rewrite or redirect rule. ",
                                                                "maxLength": 2048,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "source",
                                                            "target"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "defaultDomain": {
                                                    "description": " Default domain for the Amplify App. ",
                                                    "maxLength": 1000,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "description": " Description for the Amplify App. ",
                                                    "maxLength": 1000,
                                                    "type": "string"
                                                },
                                                "enableBasicAuth": {
                                                    "description": " Enables Basic Authorization for branches for the Amplify App. ",
                                                    "type": "boolean"
                                                },
                                                "enableBranchAutoBuild": {
                                                    "description": " Enables auto-building of branches for the Amplify App. ",
                                                    "type": "boolean"
                                                },
                                                "environmentVariables": {
                                                    "description": " Environment Variables for the Amplify App. ",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "maxLength": 255,
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "maxLength": 1000,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "iamServiceRoleArn": {
                                                    "description": " IAM service role ARN for the Amplify App. ",
                                                    "maxLength": 1000,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": " Name for the Amplify App. ",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "platform": {
                                                    "description": " Platform for the Amplify App. ",
                                                    "enum": [
                                                        "IOS",
                                                        "ANDROID",
                                                        "WEB",
                                                        "REACT_NATIVE"
                                                    ],
                                                    "type": "string"
                                                },
                                                "productionBranch": {
                                                    "description": " Structure with Production Branch information. ",
                                                    "properties": {
                                                        "branchName": {
                                                            "description": " Branch Name for Production Branch. ",
                                                            "maxLength": 255,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        },
                                                        "lastDeployTime": {
                                                            "description": " Last Deploy Time of Production Branch. ",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "description": " Status of Production Branch. ",
                                                            "maxLength": 3,
                                                            "minLength": 3,
                                                            "type": "string"
                                                        },
                                                        "thumbnailUrl": {
                                                            "description": " Thumbnail Url for Production Branch. ",
                                                            "maxLength": 2000,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "repository": {
                                                    "description": " Repository for the Amplify App. ",
                                                    "maxLength": 1000,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "description": " Tag for Amplify App. ",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "maxLength": 1000,
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "maxLength": 1000,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "updateTime": {
                                                    "description": " Update date / time for the Amplify App. ",
                                                    "format": "date-time",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "appId",
                                                "appArn",
                                                "name",
                                                "description",
                                                "repository",
                                                "platform",
                                                "createTime",
                                                "updateTime",
                                                "environmentVariables",
                                                "defaultDomain",
                                                "enableBranchAutoBuild",
                                                "enableBasicAuth"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "app"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "UnauthorizedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": " Request structure for get App request. ",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": " Updates an existing Amplify App. ",
                "operationId": "UpdateApp",
                "parameters": [
                    {
                        "in": "path",
                        "name": "appId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": " Result structure for an Amplify App update request. ",
                                    "properties": {
                                        "app": {
                                            "description": " App structure for the updated App. ",
                                            "properties": {
                                                "appArn": {
                                                    "description": " ARN for the Amplify App. ",
                                                    "maxLength": 1000,
                                                    "type": "string"
                                                },
                                                "appId": {
                                                    "description": " Unique Id for the Amplify App. ",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "basicAuthCredentials": {
                                                    "description": " Basic Authorization credentials for branches for the Amplify App. ",
                                                    "maxLength": 2000,
                                                    "type": "string"
                                                },
                                                "buildSpec": {
                                                    "description": " BuildSpec content for Amplify App. ",
                                                    "maxLength": 25000,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "createTime": {
                                                    "description": " Create date / time for the Amplify App. ",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "customRules": {
                                                    "description": " Custom redirect / rewrite rules for the Amplify App. ",
                                                    "items": {
                                                        "description": " Custom rewrite / redirect rule. ",
                                                        "properties": {
                                                            "condition": {
                                                                "description": " The condition for a URL rewrite or redirect rule, e.g. country code. ",
                                                                "maxLength": 2048,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "source": {
                                                                "description": " The source pattern for a URL rewrite or redirect rule. ",
                                                                "maxLength": 2048,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "description": " The status code for a URL rewrite or redirect rule. ",
                                                                "maxLength": 3,
                                                                "minLength": 3,
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "description": " The target pattern for a URL rewrite or redirect rule. ",
                                                                "maxLength": 2048,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "source",
                                                            "target"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "defaultDomain": {
                                                    "description": " Default domain for the Amplify App. ",
                                                    "maxLength": 1000,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "description": " Description for the Amplify App. ",
                                                    "maxLength": 1000,
                                                    "type": "string"
                                                },
                                                "enableBasicAuth": {
                                                    "description": " Enables Basic Authorization for branches for the Amplify App. ",
                                                    "type": "boolean"
                                                },
                                                "enableBranchAutoBuild": {
                                                    "description": " Enables auto-building of branches for the Amplify App. ",
                                                    "type": "boolean"
                                                },
                                                "environmentVariables": {
                                                    "description": " Environment Variables for the Amplify App. ",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "maxLength": 255,
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "maxLength": 1000,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "iamServiceRoleArn": {
                                                    "description": " IAM service role ARN for the Amplify App. ",
                                                    "maxLength": 1000,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": " Name for the Amplify App. ",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "platform": {
                                                    "description": " Platform for the Amplify App. ",
                                                    "enum": [
                                                        "IOS",
                                                        "ANDROID",
                                                        "WEB",
                                                        "REACT_NATIVE"
                                                    ],
                                                    "type": "string"
                                                },
                                                "productionBranch": {
                                                    "description": " Structure with Production Branch information. ",
                                                    "properties": {
                                                        "branchName": {
                                                            "description": " Branch Name for Production Branch. ",
                                                            "maxLength": 255,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        },
                                                        "lastDeployTime": {
                                                            "description": " Last Deploy Time of Production Branch. ",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "description": " Status of Production Branch. ",
                                                            "maxLength": 3,
                                                            "minLength": 3,
                                                            "type": "string"
                                                        },
                                                        "thumbnailUrl": {
                                                            "description": " Thumbnail Url for Production Branch. ",
                                                            "maxLength": 2000,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "repository": {
                                                    "description": " Repository for the Amplify App. ",
                                                    "maxLength": 1000,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "description": " Tag for Amplify App. ",
                                                    "items": {
                                                        "properties": {
[...]
